extends base.pug
block scripts 
   script(src='/static/index.js')

block style
    style 
        include ../static/style.css
        include ../static/styleAbout.css
block content 
    div.container
            div.image
                img(src="/static/1.jpg.jpg", alt="image")
            h1(class="heading") Some Basic Informnation About Dance
            p(class="para") Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut maiores ratione totam cumque rem corporis. Voluptas quod qui quae aut. Perferendis, reprehenderit repellat libero, dolor facere rerum nesciunt saepe ipsam, laboriosam incidunt odit repellendus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum nemo, aliquid unde laudantium asperiores quidem fuga atque cumque, nobis quaerat recusandae odit dolorem magnam enim corporis quae expedita repellat dolores libero? Asperiores autem quibusdam consequatur possimus consequuntur officia, minus maiores id enim? Ipsum perspiciatis nobis, repudiandae blanditiis dolores, ducimus consequuntur exercitationem tempora cupiditate reprehenderit repellat! Expedita totam fugiat possimus quae, veritatis laboriosam consequuntur reiciendis provident recusandae exercitationem voluptatum molestias esse est, saepe error veniam, porro a repellat sequi doloribus nobis iusto voluptate excepturi? Labore, ex dolore sit, qui iusto eaque vel numquam voluptate velit quos blanditiis id impedit obcaecati commodi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis vitae minima illo non vel et eum est, earum amet eaque ut aspernatur alias? Facilis, hic corrupti facere deserunt commodi sapiente ipsa reiciendis esse magnam officia culpa enim omnis doloremque? Consequatur enim perferendis officiis sint rem expedita id eaque porro nam?
            button(class="btn")
                | Watch video 

            hr
            hr      
    div.container
            div.image
                img(src="/static/2.jpg.jpg", alt="image")
            h1(class="heading") About Our Dance Website
            p(class="para") Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut maiores ratione totam cumque rem corporis. Voluptas quod qui quae aut. Perferendis, reprehenderit repellat libero, dolor facere rerum nesciunt saepe ipsam, laboriosam incidunt odit repellendus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum nemo, aliquid unde laudantium asperiores quidem fuga atque cumque, nobis quaerat recusandae odit dolorem magnam enim corporis quae expedita repellat dolores libero? Asperiores autem quibusdam consequatur possimus consequuntur officia, minus maiores id enim? Ipsum perspiciatis nobis, repudiandae blanditiis dolores, ducimus consequuntur exercitationem tempora cupiditate reprehenderit repellat! Expedita totam fugiat possimus quae, veritatis laboriosam consequuntur reiciendis provident recusandae exercitationem voluptatum molestias esse est, saepe error veniam, porro a repellat sequi doloribus nobis iusto voluptate excepturi? Labore, ex dolore sit, qui iusto eaque vel numquam voluptate velit quos blanditiis id impedit obcaecati commodi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum facilis adipisci dignissimos error, consequatur est molestias nulla quaerat explicabo consectetur unde, minima perferendis voluptatum totam voluptatibus, natus itaque quas magnam voluptates ea ipsam ipsa cupiditate vel veniam! Nostrum id incidunt inventore voluptatem, eos corporis fugit perferendis, eligendi, fuga laborum aliquid.
            button(class="btn")
                | Watch video                 
        
            hr
            hr

    div.container
            div.image
                img(src="/static/3.jpg.jpg", alt="image")
            h1(class="heading") About Our Dance Teachers
            p(class="para") Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut maiores ratione totam cumque rem corporis. Voluptas quod qui quae aut. Perferendis, reprehenderit repellat libero, dolor facere rerum nesciunt saepe ipsam, laboriosam incidunt odit repellendus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum nemo, aliquid unde laudantium asperiores quidem fuga atque cumque, nobis quaerat recusandae odit dolorem magnam enim corporis quae expedita repellat dolores libero? Asperiores autem quibusdam consequatur possimus consequuntur officia, minus maiores id enim? Ipsum perspiciatis nobis, repudiandae blanditiis dolores, ducimus consequuntur exercitationem tempora cupiditate reprehenderit repellat! Expedita totam fugiat possimus quae, veritatis laboriosam consequuntur reiciendis provident recusandae exercitationem voluptatum molestias esse est, saepe error veniam, porro a repellat sequi doloribus nobis iusto voluptate excepturi? Labore, ex dolore sit, qui iusto eaque vel numquam voluptate velit quos blanditiis id impedit obcaecati commodi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum facilis adipisci dignissimos error, consequatur est molestias nulla quaerat explicabo consectetur unde, minima perferendis voluptatum totam voluptatibus, natus itaque quas magnam voluptates ea ipsam ipsa cupiditate vel veniam! Nostrum id incidunt inventore voluptatem, eos corporis fugit perferendis, eligendi, fuga laborum aliquid.
            button(class="btn")
                | Watch video                 
        
            hr
            hr        