extends base.pug
block scripts 
   script(src='/static/index.js')

block style
    style 
        include ../static/style.css
        include ../static/styleInfo.css
block content
    div.container
        div.box
            div.image
                img(src="/static/kids.jpg.jpg", alt="image")
            h1(class="heading") Classes For Children's In Flexible Schedule 
            p(class="para") Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut maiores ratione totam cumque rem corporis. Voluptas quod qui quae aut. Perferendis, reprehenderit repellat libero, dolor facere rerum nesciunt saepe ipsam, laboriosam incidunt odit repellendus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum nemo, aliquid unde laudantium asperiores quidem fuga atque cumque, nobis quaerat recusandae odit dolorem magnam enim corporis quae expedita repellat dolores libero? Asperiores autem quibusdam consequatur possimus consequuntur officia, minus maiores id enim? Ipsum perspiciatis nobis, repudiandae blanditiis dolores, ducimus consequuntur exercitationem tempora cupiditate reprehenderit repellat! Expedita totam fugiat possimus quae, veritatis laboriosam consequuntur reiciendis provident recusandae exercitationem voluptatum molestias esse est, saepe
            hr
            hr
            div.image
                img(src="/static/hip-hop.jpg.jpg", alt="image") 
            h2(class="heading2") Timing For Hip-Hop Class Morning:9:30AM to 11:00AM
            p(class="para2") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vero fuga perspiciatis doloremque natus rerum autem, officia obcaecati! Officiis, veritatis incidunt eum fugiat unde suscipit dolores vero sit voluptatum delectus a alias corrupti provident repudiandae dolorem corporis voluptatibus eius. Porro hic, ex voluptas temporibus nostrum amet molestias delectus vel dolore! 
            hr
            hr
            div.image
                img(src="/static/classical.jpg.jpg", alt="image") 
            h2(class="heading2") Timing For Classical Dance Class Morning: 11:00AM to 1:00PM
            p(class="para2") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vero fuga perspiciatis doloremque natus rerum autem, officia obcaecati! Officiis, veritatis incidunt eum fugiat unde suscipit dolores vero sit voluptatum delectus a alias corrupti provident repudiandae dolorem corporis voluptatibus eius. Porro hic, ex voluptas temporibus nostrum amet molestias delectus vel dolore!    
            hr
            hr
            div.image
                img(src="/static/contemporary.jpg.jpg", alt="image") 
            h2(class="heading2") Timing For Comtemporary Dance Class Morning:1:00PM to 3:00PM
            p(class="para2") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vero fuga perspiciatis doloremque natus rerum autem, officia obcaecati! Officiis, veritatis incidunt eum fugiat unde suscipit dolores vero sit voluptatum delectus a alias corrupti provident repudiandae dolorem corporis voluptatibus eius. Porro hic, ex voluptas temporibus nostrum amet molestias delectus vel dolore! 
            hr
            hr
            div.image
                img(src="/static/bollywood.jpg.jpg", alt="image") 
            h2(class="heading2") Timing For Free Style Bollywood Dance Class Morning:3:30PM to 6:00PM
            p(class="para2") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vero fuga perspiciatis doloremque natus rerum autem, officia obcaecati! Officiis, veritatis incidunt eum fugiat unde suscipit dolores vero sit voluptatum delectus a alias corrupti provident repudiandae dolorem corporis voluptatibus eius. Porro hic, ex voluptas temporibus nostrum amet molestias delectus vel dolore! 