extends base.pug 
block scripts 
   script(src='/static/index.js')

block style
    style 
        include ../static/style.css
        include ../static/styleservice.css 
block content 
    div.container
            div.image
                img(src="/static/image1.jpg", alt="image")
            h1(class="heading") Some Basic Informnation About Dance
            p(class="para") Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut maiores ratione totam cumque rem corporis. Voluptas quod qui quae aut. Perferendis, reprehenderit repellat libero, dolor facere rerum nesciunt saepe ipsam, laboriosam incidunt odit repellendus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum nemo, aliquid unde laudantium asperiores quidem fuga atque cumque, nobis quaerat recusandae odit dolorem magnam enim corporis quae expedita repellat dolores libero? Asperiores autem quibusdam consequatur possimus consequuntur officia, minus maiores id enim? Ipsum perspiciatis nobis, repudiandae blanditiis dolores, ducimus consequuntur exercitationem tempora cupiditate reprehenderit repellat! Expedita totam fugiat possimus quae, veritatis laboriosam consequuntur reiciendis provident recusandae exercitationem voluptatum molestias esse est, saepe 
            button(class="btn")
                | More Info.         
            hr
            hr
    div.container2
        div.box2
            div.image2
                img(src="/static/image2.jpg", alt="image")
            h1(class="heading") We Also Teach Classical Dance 
            p(class="para") Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut maiores ratione totam cumque rem corporis. Voluptas quod qui quae aut. Perferendis, reprehenderit repellat libero, dolor facere rerum nesciunt saepe ipsam, laboriosam incidunt odit repellendus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum nemo, aliquid unde laudantium asperiores quidem fuga atque cumque, nobis quaerat recusandae odit dolorem magnam enim corporis quae expedita repellat dolores libero? Asperiores autem quibusdam consequatur possimus consequuntur officia, minus maiores id enim? Ipsum perspiciatis nobis, repudiandae blanditiis dolores, ducimus consequuntur exercitationem tempora cupiditate reprehenderit repellat! Expedita totam fugiat possimus quae, veritatis laboriosam consequuntur reiciendis provident recusandae exercitationem voluptatum molestias esse est, saepe 
            button(class="btn")
                | More Info.            
            hr
            hr
    div.container3
        div.box3
            div.image3
                img(src="/static/image11.jpg", alt="image")
            h1(class="heading") Classes For Childrens Too
            p(class="para") Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut maiores ratione totam cumque rem corporis. Voluptas quod qui quae aut. Perferendis, reprehenderit repellat libero, dolor facere rerum nesciunt saepe ipsam, laboriosam incidunt odit repellendus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum nemo, aliquid unde laudantium asperiores quidem fuga atque cumque, nobis quaerat recusandae odit dolorem magnam enim corporis quae expedita repellat dolores libero? Asperiores autem quibusdam consequatur possimus consequuntur officia, minus maiores id enim? Ipsum perspiciatis nobis, repudiandae blanditiis dolores, ducimus consequuntur exercitationem tempora cupiditate reprehenderit repellat! Expedita totam fugiat possimus quae, veritatis laboriosam consequuntur reiciendis provident recusandae exercitationem voluptatum molestias esse est, saepe 
            button(class="btn")
                | More Info                 
            hr
            hr
    div.container4
        div.box4
            div.image4
                img(src="/static/image12.jpg", alt="image")
            h1(class="heading") We Are Here To Make You Expert In Your Dance Form 
            p(class="para") Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut maiores ratione totam cumque rem corporis. Voluptas quod qui quae aut. Perferendis, reprehenderit repellat libero, dolor facere rerum nesciunt saepe ipsam, laboriosam incidunt odit repellendus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum nemo, aliquid unde laudantium asperiores quidem fuga atque cumque, nobis quaerat recusandae odit dolorem magnam enim corporis quae expedita repellat dolores libero? Asperiores autem quibusdam consequatur possimus consequuntur officia, minus maiores id enim? Ipsum perspiciatis nobis, repudiandae blanditiis dolores, ducimus consequuntur exercitationem tempora cupiditate reprehenderit repellat! Expedita totam fugiat possimus quae, veritatis laboriosam consequuntur reiciendis provident recusandae exercitationem voluptatum molestias esse est, saepe 
            button(class="btn")
                | More Info            
            hr
            hr